@model IEnumerable<eBookLibraryService.Models.OwnedBook>

<h2>My Books</h2>

@if (!Model.Any())
{
    <p>You do not have any books yet.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Type</th>
                <th>Price</th>
                <th>Borrow End Date</th>
                <th>Purchase Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@(book.IsBorrowed ? "Borrowed" : "Purchased")</td>
                    <td>$@book.Price</td>
                    <td>
                        @if (book.IsBorrowed)
                        {
                            @book.BorrowEndDate?.ToString("g")
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </td>
                    <td>@book.PurchaseDate.ToString("g")</td>
                </tr>
            }
        </tbody>
    </table>
}
