@model IEnumerable<eBookLibraryService.Models.Book>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Books Index";
}

<h1>Books List</h1>
<a href="@Url.Action("Create", "Books")" class="btn btn-custom"><i class="fas fa-plus-circle"></i> Add New Book</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Borrow Price</th>
            <th>Buying Price</th>
            <th>Quantity</th>
            <th>Borrowed Count</th>
            <th>Waiting List</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
                <td>@(book.BorrowPrice.HasValue ? $"{book.BorrowPrice}$" : "Not Available")</td>
                <td>@book.BuyingPrice$</td>
                <td>@book.Quantity</td>
                <td>@book.BorrowCount</td>
                <td>@(book.WaitingList?.Count ?? 0)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-success">Details</a>
                    <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
