@model IEnumerable<eBookLibraryService.Models.Book>
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<h1>Stock Management</h1>

<form method="post" asp-action="UpdateStock">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ImageUrl)</th> 
                <th>@Html.DisplayNameFor(model => model.Title)</th>
				<th>@Html.DisplayNameFor(model => model.Author)</th>
                <th>@Html.DisplayNameFor(model => model.BorrowCount)</th>
				<th>@Html.DisplayNameFor(model => model.WaitingList)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>
                        <img src="@book.ImageUrl" alt="@book.Title" style="width: 50px; height: 75px; object-fit: cover;" />
                    </td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.BorrowCount</td>
                    <td>@(book.WaitingList?.Count ?? 0)</td>
                </tr>
            }
        </tbody>
    </table>
</form>

